@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover-border: var(--popover-border);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-border: var(--border);
    --color-edge: var(--edge);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-info: var(--info);
    --color-success: var(--success);
    --color-destructive: var(--destructive);
    --color-link: var(--link);
    --color-code: var(--code);
    --color-code-foreground: var(--code-foreground);
    --color-code-number: var(--code-number);
    --color-code-highlight: var(--code-highlight);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);

    --shadow-popover: var(--shadow-popover);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-fade-down: fade-down 0.5s;
    --animate-fade-up: fade-up 0.5s;
    --animate-stroke-dashoffset: stroke-dashoffset 0.2s linear forwards;
    --animate-expand-width: expand-width forwards;
    --animate-expand-height: expand-height forwards;
    --animate-skeleton-shimmer: skeleton-shimmer 2s infinite ease-out;
    --animate-skeleton-gradient: skeleton-gradient 2s infinite ease-out;
    --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

    --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;

    --color-one: var(--color-one);

    @keyframes spotlight {
        0% {
            opacity: 0;
            transform: translate(-72%, -62%) scale(0.5);
        }
        100% {
            opacity: 1;
            transform: translate(-50%, -40%) scale(1);
        }
    }

    @keyframes fade-down {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        80% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes fade-up {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        80% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
    @keyframes stroke-dashoffset {
        0% {
            stroke-dashoffset: 100%;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    @keyframes expand-width {
        0% {
            border-color: var(--color-foreground);
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes expand-height {
        0% {
            border-color: var(--color-foreground);
            height: 0;
        }
        100% {
            height: 100%;
        }
    }
    @keyframes skeleton-shimmer {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(200%);
        }
    }
    @keyframes skeleton-gradient {
        0%,
        100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility link {
    @apply font-medium underline underline-offset-4;
}

@utility screen-line-before {
    @apply relative before:absolute before:top-0 before:-left-[100vw] before:-z-1 before:h-px before:w-[200vw] before:bg-edge;
}

@utility screen-line-after {
    @apply relative after:absolute after:bottom-0 after:-left-[100vw] after:-z-1 after:h-px after:w-[200vw] after:bg-edge;
}

@utility step {
    counter-increment: step;
    &::before {
        @apply mr-2 inline-flex size-7 items-center justify-center rounded-full bg-muted text-center -indent-px text-sm font-medium text-muted-foreground md:absolute md:-mt-0.5 md:-ml-11.5 md:size-8;
        content: counter(step);
    }
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.141 0.005 285.823);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.141 0.005 285.823);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);

    --popover-border: color-mix(in oklab, var(--color-black) 15%, transparent);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --border: oklch(0.92 0.004 286.32);
    --edge: color-mix(in oklab, var(--border) 64%, var(--background));
    --input: oklch(0.92 0.004 286.32);

    --ring: oklch(0.67 0.17 244.98);

    --info: oklch(0.67 0.17 244.98);
    --success: oklch(0.723 0.219 149.579);
    --destructive: oklch(0.577 0.245 27.325);
    --link: oklch(0.488 0.243 264.376);
    --code: oklch(0.985 0 0);
    --code-foreground: oklch(0.141 0.005 285.823);
    --code-number: oklch(0.705 0.015 286.067);
    --code-highlight: oklch(0.967 0.001 286.375);

    --shadow-popover: 0 6px 24px rgba(0, 0, 0, 0.25);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --primary: oklch(0.37 0.013 285.805);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --popover-border: oklch(0.37 0.013 285.805);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --border: oklch(0.274 0.006 286.033);
    --input: oklch(0.274 0.006 286.033);
    --success: oklch(0.723 0.219 149.579);
    --destructive: oklch(0.505 0.213 27.518);
    --link: oklch(0.623 0.214 259.815);
    --code: oklch(0.21 0.006 285.885);
    --code-foreground: oklch(0.985 0 0);
    --code-number: oklch(0.552 0.016 285.938);
    --code-highlight: oklch(0.274 0.006 286.033);

    --shadow-popover: 0 0 24px rgba(0, 0, 0, 0.5);

    --color-one: oklch(74.743% 0.17958 57.134);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-border outline-ring/50;
    }

    html {
        @apply motion-safe:scroll-smooth;
    }

    body {
        @apply overscroll-y-none bg-background font-sans text-foreground antialiased;
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--border);
        border-radius: 5px;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--border) transparent;
    }

    [id] {
        @apply scroll-mt-22;
    }

    .tech-icon {
        @apply mx-1 inline-flex h-[22px] items-center justify-center gap-1.5 whitespace-nowrap rounded-md border border-border bg-muted/40 px-1.5 py-2 pr-2 font-medium text-white text-xs transition-colors  disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-3.5 [&_svg]:shrink-0;
    }
}
